.quiz-question-option {
  display: flex;
  margin: 10px 0;
}

.results-btn,
.next-btn,
.retry-btn {
  cursor: pointer;
  background: white;
  border: 1px solid orange;
  padding: 5px 10px;
  outline: none;
  margin: 10px;
  border-radius: 3px;
}

.results-btn,
.retry-btn {
  background: orange;
  color: white;
  font-weight: bold;
}

.quiz-title,
.results-title {
  font-size: 30px;
}

.quiz-container,
.results-container {
  margin: 20px;
}
.quiz-question {
  margin: 20px 0;
}

.results-summary-container {
  margin: 20px;
  padding: 10px;
  border: 0.5px solid orange;
  border-radius: 3px;
}
